<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="LinqKit" version="1.2.4" targetFramework="net461" />
  <package id="LinqKit.Core" version="1.2.4" targetFramework="net461" />
  <package id="System.Diagnostics.EventLog" version="7.0.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
</packages>